{% extends "network/layout.html" %}

{% block body %}
    <p style="font-size:40px"><b>All Posts</b></p>
    <p></p>
    <p></p>
    {% if user.is_authenticated %}
    <div class = "newpost-container">
    <h3>New Post</h3>
    <form action = "/view_post" method = "POST">
        {% csrf_token %}
        <textarea name ="content" style="text-align:center;border-radius:8px" rows="2" cols ="220px" autofocus placeholder="What are you thinking?"></textarea>
        <div></div>
        <input class ="postbutton" type = "submit" value = "Post">
        <input type = "hidden" name = "username" value = "{{user.username}}">
    </form>
    </div>
    {% endif %}
    <div id = "posts-container">
    </div>
    <script>
        let mailbox = 'index'
        document.addEventListener('DOMContentLoaded',function(){
            fetch("/taking_post") //Fetch ở đây cũng cần tạo path cho url
            .then(response => response.json())
            .then(data =>{
                console.log(data);
                data.post_listings.forEach(post => add_post(post));
            })
            function add_post(post){
                const postDiv = document.createElement('div');
                postDiv.className = 'newpost-container';
                postDiv.innerHTML=`<h4><a href = "/profile/${post.username}">${post.username}</a></h4><span class="realpostid" style = "display:none">${post.id}</span>
            <p>${post.timestamp}</p>
            <div style = "font-size: 22px">
                ${post.content}
            </div>
            <div>
                <span class = "likes-count">${post.number_of_likes} Likes</span>
            </div>
            <div>
                {% if user.is_authenticated %}
                <a class = "likebutton"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Facebook_Like_button.svg/1024px-Facebook_Like_button.svg.png" data-post-id="{{post_listing.id}}" width="25" height="25" alt="buttonpng" border="0" /></a>
                {%else%}Please log in to like this post
                {% endif %}
            </div>`
            document.getElementById('posts-container').appendChild(postDiv);
            }
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                        for (let i = 0; i < cookies.length; i++) {
                            const cookie = cookies[i].trim();
                                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                    break;
                                }
                        }
                }
                return cookieValue; //Lấy csrftoken
            }
            document.querySelector('#posts-container').addEventListener('click',function(event){
                if(event.target.classList.contains('likebutton')){
                    event.preventDefault();
                    const parent = event.target.parentElement.parentElement;
                    const child = parent.childNodes;
                    console.log(child);
                    const post_id = parent.querySelector('.realpostid').textContent.trim();
                    console.log(post_id);
                    fetch(`/like/${post_id}/${mailbox}`,{
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': getCookie('csrftoken'), // Thêm dòng này
                        }
                    })
                    .then(response => response.json())
                    .then(result => {
                        if (result.status === 'success'){
                            parent.childNodes[7].textContent = post_total_likes;
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}