{% extends "network/layout.html" %}

{% block body %}
    <p style="font-size:40px"><b>All Posts</b></p>
    <p></p>
    <p></p>
    <table>
        <tr>
            <th>New Post</th>
        </tr>
        <tr>
            <form>
                <td><textarea style="text-align:center;align:center" rows="2" cols ="150px" autofocus placeholder="What are you thinking?"></textarea>
                <input type = "submit" value = "Post">
            </td>
            </form>
        </tr>
    </table>

{% endblock %}