{% extends "network/layout.html" %}

{% block body %}
    <p style="font-size:40px"><b>All Posts</b></p>
    <p></p>
    <p></p>
    {% if user.is_authenticated %}
    <div class = "newpost-container">
    <h3>New Post</h3>
    <form action = "/view_post" method = "POST">
        {% csrf_token %}
        <textarea name ="content" style="text-align:center;border-radius:8px" rows="2" cols ="220px" autofocus placeholder="What are you thinking?"></textarea>
        <div></div>
        <input class ="postbutton" type = "submit" value = "Post">
        <input type = "hidden" name = "username" value = "{{user.username}}">
    </form>
    </div>
    {% endif %}
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            fetch("/taking_post")
            .then(respose => response.json())
            .then(posts =>{
                console.log(posts);
                posts.post_listings.forEach(add_post);
            })
            function add_post(username,timestamp,content,number_of_likes){
                const post = document.createElement('div');
                post.className = 'newpost-container';
                post.innerHTML=`<h4><a href = "{% url "profile" username %}">{{username}}</a></h4>
            <p>{{timestamp}}</p>
            <div style = "font-size: 22px">
                {{content}}
            </div>
            <div>
                <span class = "likes-count">{{number_of_likes}} Likes</span>
                <div></div>
                {% if user.is_authenticated %}
                <a class = "likebutton" href ="{% url "like" id 'index' %}"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Facebook_Like_button.svg/1024px-Facebook_Like_button.svg.png" data-post-id="{{post_listing.id}}" width="25" height="25" alt="buttonpng" border="0" /></a>
                {%else%}Please log in to like this post
                {% endif %}
            </div>`
            }
        })
    </script>
{% endblock %}