{% extends "network/layout.html" %}
{%block body%}
<div id = "profile_display">
    <h1>{{username}}{% if user.username != username %}<span style = "font-size:20px; margin-left: 20px"><button class = "postbutton">Follow</button></span>{%endif%}</h1>
    <h2><span id ="followers">Followers: <span id = "follower_count"></span></span>
        <span id ="following">Following: {{following}}</span>
    </h2>
</div>
    {%for user_post in user_posts%}
    <div class = "newpost-container">
        <h4><a href = "{% url "profile" user_post.username %}">{{user_post.username}}</a></h4>
        <p>{{user_post.timestamp}}</p>
        <div style = "font-size: 22px">
            {{user_post.content}}
        </div>
        <div>
            <span class = "likes-count">Likes: {{user_post.number_of_likes}}</span>
            <div></div>
            <button class = "likebutton"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Facebook_Like_button.svg/1024px-Facebook_Like_button.svg.png" data-post-id="{{user_post.id}}" width="25" height="25" alt="buttonpng" border="0" /></button>
        </div>
    </div>
    {%endfor%}
    <script>
        document.addEventListener('DOMContentLoaded',function(){
            document.querySelector(".postbutton").onclick = function(){
                follow_button = document.querySelector(".postbutton");
                    fetch(`/follow/${userid}`,{
                        method : 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': getCookie('csrftoken'),
                        },
                    })
                    .then(response => response.json())
                    .then(data =>{
                        const followers_count = data.followers
                        document.querySelector("#follower_count").innerHTML = `${followers_count}`
                        if(follow_button.textContent === "Follow"){
                            document.querySelector(".postbutton").textContent ="Unfollow";
                        }else{
                            document.querySelector(".postbutton").textContent ="Follow";
                        }
                    })                   
            }
        })
    </script>
{%endblock%}